In [74]:
# Name Sadik

In [2]:
import pandas as pd

file_path = 'train.csv'
df = pd.read_csv(file_path)

In [3]:
# Display basic information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              37500 non-null  int64
 1   beer/ABV           37500 non-null  float64
 2   beer/beerId        37500 non-null  int64
 3   beer/brewerId      37500 non-null  int64
 4   beer/name          37500 non-null  object
 5   beer/style         37500 non-null  object
 6   review/appearance  37500 non-null  float64
 7   review/aroma       37500 non-null  float64
 8   review/overall     37500 non-null  float64
 9   review/palate      37500 non-null  float64
 10  review/taste       37500 non-null  float64
 11  review/text        37490 non-null  object
 12  review/timeStruct  37500 non-null  object
 13  review/timeUnix    37500 non-null  int64
 14  user/ageInSeconds  7856 non-null   float64
 15  user/birthdayRaw   7856 non-null   object
 16  user/birthdayUnix  7856 non-null   float64
 17  user/gender        15314 non-null  object
 18  user/profileName   37495 non-null  object
dtypes: float64(8), int64(4), object(7)
memory usage: 5.4+ MB

In [4]:
# Display the first few rows 
df.head()

,index,beer/ABV,beer/beerId,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/text,review/timeStruct,review/timeUnix,user/ageInSeconds,user/birthdayRaw,user/birthdayUnix,user/gender,user/profileName
0,40163,5.0,46634,14338,Chiostro,Herbed / Spiced Beer,4.0,4.0,4.0,4.0,4.0,Pours a clouded gold with a thin white head. N...,"{'min': 38, 'hour': 3, 'mday': 16, 'sec': 10, ...",1229398690,NaN,NaN,NaN,NaN,RblWthACoz
1,8135,11.0,3003,395,Bearded Pat's Barleywine,American Barleywine,4.0,3.5,3.5,3.5,3.0,12oz bottle into 8oz snifter.\t\tDeep ruby red...,"{'min': 38, 'hour': 23, 'mday': 8, 'sec': 58, ...",1218238738,NaN,NaN,NaN,NaN,BeerSox
2,10529,4.7,961,365,Naughty Nellie's Ale,American Pale Ale (APA),3.5,4.0,3.5,3.5,3.5,First enjoyed at the brewpub about 2 years ago...,"{'min': 7, 'hour': 18, 'mday': 26, 'sec': 2, '...",1101492422,NaN,NaN,NaN,Male,mschofield
3,44610,4.4,429,1,Pilsner Urquell,Czech Pilsener,3.0,3.0,2.5,3.0,3.0,First thing I noticed after pouring from green...,"{'min': 7, 'hour': 1, 'mday': 20, 'sec': 5, 'y...",1308532025,1.209827e+09,"Aug 10, 1976",208508400.0,Male,molegar76
4,37062,4.4,4904,1417,Black Sheep Ale (Special),English Pale Ale,4.0,3.0,3.0,3.5,2.5,A: pours an amber with a one finger head but o...,"{'min': 51, 'hour': 6, 'mday': 12, 'sec': 48, ...",1299912708,NaN,NaN,NaN,NaN,Brewbro000

In [6]:
# Display the shape
df.shape

(37500, 19)

In [7]:
# Display the size of the dataset
df.size

712500

In [8]:
df.describe()

,index,beer/ABV,beer/beerId,beer/brewerId,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/timeUnix,user/ageInSeconds,user/birthdayUnix
count,37500.000000,37500.000000,37500.000000,37500.000000,37500.000000,37500.000000,37500.00000,37500.000000,37500.000000,3.750000e+04,7.856000e+03,7.856000e+03
mean,24951.887573,7.403725,21861.152027,3036.595120,3.900053,3.873240,3.88944,3.854867,3.922440,1.232794e+09,1.176705e+09,2.416303e+08
std,14434.009669,2.318145,18923.130832,5123.084675,0.588778,0.680865,0.70045,0.668068,0.716504,7.190955e+07,3.375514e+08,3.375514e+08
min,0.000000,0.100000,175.000000,1.000000,0.000000,1.000000,0.00000,1.000000,1.000000,9.262944e+08,7.034366e+08,-2.208960e+09
25%,12422.500000,5.400000,5441.000000,395.000000,3.500000,3.500000,3.50000,3.500000,3.500000,1.189194e+09,9.794810e+08,1.433628e+08
50%,24942.500000,6.900000,17538.000000,1199.000000,4.000000,4.000000,4.00000,4.000000,4.000000,1.248150e+09,1.100009e+09,3.183264e+08
75%,37416.750000,9.400000,34146.000000,1315.000000,4.500000,4.500000,4.50000,4.500000,4.500000,1.291330e+09,1.274973e+09,4.388544e+08
max,49999.000000,57.700000,77207.000000,27797.000000,5.000000,5.000000,5.00000,5.000000,5.000000,1.326267e+09,3.627295e+09,7.148988e+08

In [10]:
# Display the sum of the null values
df.isnull().sum()

index                    0
beer/ABV                 0
beer/beerId              0
beer/brewerId            0
beer/name                0
beer/style               0
review/appearance        0
review/aroma             0
review/overall           0
review/palate            0
review/taste             0
review/text             10
review/timeStruct        0
review/timeUnix          0
user/ageInSeconds    29644
user/birthdayRaw     29644
user/birthdayUnix    29644
user/gender          22186
user/profileName         5
dtype: int64

In [11]:
# Display the columns of dataset
df.columns

Index(['index', 'beer/ABV', 'beer/beerId', 'beer/brewerId', 'beer/name',
       'beer/style', 'review/appearance', 'review/aroma', 'review/overall',
       'review/palate', 'review/taste', 'review/text', 'review/timeStruct',
       'review/timeUnix', 'user/ageInSeconds', 'user/birthdayRaw',
       'user/birthdayUnix', 'user/gender', 'user/profileName'],
      dtype='object')

In [12]:
df=df[['beer/beerId', 'beer/ABV', 'beer/brewerId', 'beer/name', 'beer/style', 'review/appearance', 'review/aroma', 'review/palate', 'review/taste', 'review/text', 'user/profileName','user/gender','review/overall']]

In [13]:
df.head()

,beer/beerId,beer/ABV,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/palate,review/taste,review/text,user/profileName,user/gender,review/overall
0,46634,5.0,14338,Chiostro,Herbed / Spiced Beer,4.0,4.0,4.0,4.0,Pours a clouded gold with a thin white head. N...,RblWthACoz,NaN,4.0
1,3003,11.0,395,Bearded Pat's Barleywine,American Barleywine,4.0,3.5,3.5,3.0,12oz bottle into 8oz snifter.\t\tDeep ruby red...,BeerSox,NaN,3.5
2,961,4.7,365,Naughty Nellie's Ale,American Pale Ale (APA),3.5,4.0,3.5,3.5,First enjoyed at the brewpub about 2 years ago...,mschofield,Male,3.5
3,429,4.4,1,Pilsner Urquell,Czech Pilsener,3.0,3.0,3.0,3.0,First thing I noticed after pouring from green...,molegar76,Male,2.5
4,4904,4.4,1417,Black Sheep Ale (Special),English Pale Ale,4.0,3.0,3.5,2.5,A: pours an amber with a one finger head but o...,Brewbro000,NaN,3.0

In [14]:
# drop the null value
df = df.dropna(subset=['review/text'])

In [15]:
df.shape

(37490, 13)

In [17]:
df = df.dropna(subset = ['user/profileName'])

In [18]:
df['user/gender'].fillna('missing',inplace=True)

In [19]:
df.isnull().sum()

beer/beerId          0
beer/ABV             0
beer/brewerId        0
beer/name            0
beer/style           0
review/appearance    0
review/aroma         0
review/palate        0
review/taste         0
review/text          0
user/profileName     0
user/gender          0
review/overall       0
dtype: int64

In [20]:
df = df.reset_index()

In [21]:
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from nltk import word_tokenize
import re

In [22]:
ps=PorterStemmer()
stop_words=stopwords.words('english')
def conv(data,col):
  corpus=[]
  for i in range(0,len(df)):
    review=re.sub('[^a-zA-Z]',' ',df[col][i])
    review=review.lower()
    review= word_tokenize(review)
    review= [ps.stem(word) for word in review if not word in stop_words]
    review = ' '.join(review)
    corpus.append(review)
  return corpus

In [23]:
df['beer/name']=conv(df,'beer/name')

In [24]:
df['beer/style']=conv(df,'beer/style')

In [25]:
df['review/text']=conv(df,'review/text')

In [26]:
df['beer/name']=df['beer/name'].astype('category')
df['beer/style']=df['beer/style'].astype('category')

In [27]:
df.head()

,index,beer/beerId,beer/ABV,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/palate,review/taste,review/text,user/profileName,user/gender,review/overall
0,0,46634,5.0,14338,chiostro,herb spice beer,4.0,4.0,4.0,4.0,pour cloud gold thin white head nose quit flor...,RblWthACoz,missing,4.0
1,1,3003,11.0,395,beard pat barleywin,american barleywin,4.0,3.5,3.5,3.0,oz bottl oz snifter deep rubi red hue one fing...,BeerSox,missing,3.5
2,2,961,4.7,365,naughti nelli ale,american pale ale apa,3.5,4.0,3.5,3.5,first enjoy brewpub year ago final manag get b...,mschofield,Male,3.5
3,3,429,4.4,1,pilsner urquel,czech pilsen,3.0,3.0,3.0,3.0,first thing notic pour green bottl glass skunk...,molegar76,Male,2.5
4,4,4904,4.4,1417,black sheep ale special,english pale ale,4.0,3.0,3.5,2.5,pour amber one finger head strong pour head re...,Brewbro000,missing,3.0

In [28]:
df.columns

Index(['index', 'beer/beerId', 'beer/ABV', 'beer/brewerId', 'beer/name',
       'beer/style', 'review/appearance', 'review/aroma', 'review/palate',
       'review/taste', 'review/text', 'user/profileName', 'user/gender',
       'review/overall'],
      dtype='object')

In [29]:
df.drop(['index','user/profileName'],axis=1,inplace=True)

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [32]:
x_train,x_test,y_train,y_test = train_test_split(df,df['review/overall'],test_size=0.3,random_state = 42)

In [33]:
def vector(x,n):
  scalers = StandardScaler()
  scalers.fit(x.values.reshape(-1,1))
  s_train = scalers.transform(x.values.reshape(-1,1))
  s_test = scalers.transform(n.values.reshape(-1,1))
  return s_train,s_test

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
s_train_0,s_test_0 = vector(x_train['beer/beerId'],x_test['beer/beerId'])

In [37]:
s_train_1,s_test_1 = vector(x_train['beer/brewerId'],x_test['beer/brewerId'])

In [38]:
s_train_2,s_test_2=vector(x_train['beer/ABV'],x_test['beer/ABV'])

In [39]:
s_train_3,s_test_3=vector(x_train['review/appearance'],x_test['review/appearance'])

In [40]:
s_train_4,s_test_4=vector(x_train['review/aroma'],x_test['review/aroma'])

In [41]:
s_train_5,s_test_5=vector(x_train['review/palate'],x_test['review/palate'])

In [42]:
s_train_6,s_test_6=vector(x_train['review/taste'],x_test['review/taste'])

In [43]:
def catt_vec(m,o):
  counter=Counter()
  for i in m.values:
    counter.update(str(i).split())
    category_dict=dict(counter)
    sorted_dict=dict(sorted(category_dict.items(),key=lambda x:x[1]))
    vec=CountVectorizer(vocabulary=list(sorted_dict.keys()),binary=True)
    vec.fit(m.values)
    train=vec.transform(m.values)
    test=vec.transform(o.values)
    return train,test

In [44]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import re
from scipy.sparse import hstack

In [45]:
s_train_7,s_test_7=catt_vec(x_train['beer/name'],x_test['beer/name'])

In [46]:
s_train_8,s_test_8=catt_vec(x_train['beer/style'],x_test['beer/style'])

In [47]:
s_train_9,s_test_9=catt_vec(x_train['user/gender'],x_test['user/gender'])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:1322: UserWarning: Upper case characters found in vocabulary while 'lowercase' is True. These entries will not be matched with any documents
  warnings.warn(

In [48]:
tf=TfidfVectorizer()

In [49]:
tf.fit(list(x_train['review/text']),list(x_test['review/text']))

TfidfVectorizer()

In [50]:
s_train_10 = tf.transform(x_train['review/text'])
s_test_10=tf.transform(x_test['review/text'])

In [51]:
x_training = hstack((s_train_0,s_train_1,s_train_2,s_train_3,s_train_4,s_train_5,s_train_6,s_train_7,s_train_8,s_train_9,s_train_10)).tocsr()

In [52]:
x_testt = hstack((s_test_0,s_test_1,s_test_2,s_test_3,s_test_4,s_test_5,s_test_6,s_test_7,s_test_8,s_test_9,s_test_10)).tocsr()

In [54]:
import numpy as np

In [55]:
y_train = np.array(list(y_train))

In [56]:
y_test = np.array(list(y_test))

In [57]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn import linear_model
from sklearn import ensemble

from sklearn.metrics import mean_squared_error

from sklearn.metrics import r2_score


import warnings
warnings.filterwarnings('ignore')

In [58]:
regr2 = RandomForestRegressor(max_features='sqrt')


parameters = {'n_estimators':[50,100,300,500],'max_depth':[5,6,7,8]}


clf = GridSearchCV(regr2,
                    param_grid = parameters,
                    scoring="neg_mean_squared_error",
                    cv = 5,
                    n_jobs = -1,
                    verbose = 1)
result = clf.fit(x_training, y_train)


print(result.best_params_)

Fitting 5 folds for each of 16 candidates, totalling 80 fits
{'max_depth': 8, 'n_estimators': 500}

In [59]:
rfr = RandomForestRegressor(max_depth=8,n_estimators=100)
rfr.fit(x_training,y_train)

RandomForestRegressor(max_depth=8)

In [60]:
y_pred_rf = rfr.predict(x_testt)

In [61]:
score_rf =  r2_score(y_pred_rf,y_test)

In [62]:
score_rf

0.5204920621147693

In [71]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn import linear_model
from sklearn import ensemble

from sklearn.metrics import mean_squared_error

from sklearn.metrics import r2_score

In [63]:
regr = xgb.XGBRegressor(silent=False, random_state=15)



parameters = {'learning_rate':[0.01,0.1],'n_estimators':[300,500],'max_depth':[3,4]}


clf = GridSearchCV(regr,
                    param_grid = parameters,
                    scoring="neg_mean_squared_error",
                    cv=2,
                    n_jobs = -1,
                    verbose = 1)
result = clf.fit(x_training,y_train)

print(result.best_params_)

Fitting 2 folds for each of 8 candidates, totalling 16 fits
[18:49:42] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:576:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


{'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 300}

In [64]:
xgb = xgb.XGBRegressor(learning_rate = 0.1, max_depth = 4, n_estimators = 300)

In [65]:
xgb.fit(x_training,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=4, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=300, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [66]:
y_pred_xgb =xgb.predict(x_testt)

In [67]:
score_xgb=r2_score(y_pred_xgb,y_test)

In [68]:
score_xgb

0.5633649657408886

In [69]:


Report = pd.DataFrame(data={'Model':['RandomForest Regression','Xgboost Regression'],'R2_score':[score_rf,score_xgb]})
Report

                     Model  R2_score
0  RandomForest Regression  0.520492
1       Xgboost Regression  0.563365

# final

1. XGBoost demonstrated the best performance.

2. Only the most relevant features for prediction were selected and used in the analysis.